In [7]:
# adlsAccountName = "datalakedeneme"
# adlsContainerName = "datacsv"

# adlsFolderName = "allcsv"
# mountPoint = "/mnt/files"

# applicationId =dbutils.secrets.get(scope="secret11" ,key="appid")

# authenticationKey = dbutils.secrets.get(scope="secret11",key="clientsecret")

# tenandId = dbutils.secrets.get(scope="secret11",key="tenantid")

# endpoint = "https://login.microsoftonline.com/"+ tenandId+"/oauth2/token"

# source = "wasbs://" + adlsContainerName + "@" + adlsAccountName+".dfs.core.windows.net/"+adlsFolderName

# configs = {"fs.azure.account.auth.type": "0Auth",
# "fs.azure.account.oauth.provider.type": "org.apache.hadoop.fs.azurebfs.oauth2.ClientCredsTokenProvider",
# "fs.azure.account.oauth2.client.id": applicationId,
# "fs.azure.account.oauth2.client.secret": authenticationKey,
# "fs.azure.account.oauth2.client.endpoint": endpoint}



# if not any(mount.mountPoint == mountPoint for mount in dbutils.fs.mounts()):
#  dbutils.fs.mount(
#  source = source,
#  mount_point = mountPoint,
#  extra_configs = configs)

In [8]:
# adlsAccountName = "datalakedeneme"
# adlsContainerName = "datacsv"
# adlsFolderName = "allcsv"
# mountPoint = "/mnt/files"

# applicationId = dbutils.secrets.get(scope="secret11", key="appid")
# authenticationKey = dbutils.secrets.get(scope="secret11", key="clientsecret")
# tenantId = dbutils.secrets.get(scope="secret11", key="tenantid")
# endpoint = "https://login.microsoftonline.com/" + tenantId + "/oauth2/token"

# source = "wasbs://" + adlsContainerName + "@" + adlsAccountName + ".dfs.core.windows.net/" + adlsFolderName

# configs = {
#   "fs.azure.account.auth.type": "OAuth",
#   "fs.azure.account.oauth.provider.type": "org.apache.hadoop.fs.azurebfs.oauth2.ClientCredsTokenProvider",
#   "fs.azure.account.oauth2.client.id": applicationId,
#   "fs.azure.account.oauth2.client.secret": authenticationKey,
#   "fs.azure.account.oauth2.client.endpoint": endpoint
# }

# if not any(mount.mountPoint == mountPoint for mount in dbutils.fs.mounts()):
#   dbutils.fs.mount(
#     source=source,
#     mount_point=mountPoint,
#     extra_configs=configs
#   )

In [9]:
adlsAccountName = "datalakedeneme"
adlsContainerName = "datacsv"
adlsFolderName = "allcsv"
mountPoint = "/mnt/files"

applicationId = dbutils.secrets.get(scope="secret11", key="appid")
authenticationKey = dbutils.secrets.get(scope="secret11", key="clientsecret")
tenantId = dbutils.secrets.get(scope="secret11", key="tenantid")
endpoint = "https://login.microsoftonline.com/" + tenantId + "/oauth2/token"

# Bağlama işlemi için kullanılan kaynak (source) ve yapılandırma (configs) parametreleri
source = "abfss://" + adlsContainerName + "@" + adlsAccountName + ".dfs.core.windows.net/" + adlsFolderName

configs = {
  "fs.azure.account.auth.type": "OAuth",
  "fs.azure.account.oauth.provider.type": "org.apache.hadoop.fs.azurebfs.oauth2.ClientCredsTokenProvider",
  "fs.azure.account.oauth2.client.id": applicationId,
  "fs.azure.account.oauth2.client.secret": authenticationKey,
  "fs.azure.account.oauth2.client.endpoint": endpoint
}

# Eğer belirtilen mountPoint (bağlama noktası) için herhangi bir bağlama yapılmamışsa
if not any(mount.mountPoint == mountPoint for mount in dbutils.fs.mounts()):
  # Azure Data Lake Storage Gen2'yi bağla
  dbutils.fs.mount(
    source=source,
    mount_point=mountPoint,
    extra_configs=configs
  )

NameError: name 'dbutils' is not defined

In [ ]:
%fs
ls "mnt/files"

path,name,size,modificationTime
dbfs:/mnt/files/co2converttable.csv,co2converttable.csv,1538,1709658629000
dbfs:/mnt/files/part_r_00000_CNA.csv,part_r_00000_CNA.csv,57646340,1709654820000

In [ ]:
import pandas as pd

In [ ]:
file_path = "/dbfs/mnt/files/part_r_00000_CNA.csv"

df = pd.read_csv(file_path, delimiter=';')

# Alternatif: İlk 2 sütunu seçerek okuma
df = pd.read_csv(file_path)

In [20]:
df = pd.read_csv('part_r_00000_CNA.csv')

In [29]:
df.head()

,account_currency,account_id,transformation_amount,transformation_amount,transformation_time,counteryparty_address,counteryparty_country,counteryparty_name,detailed_transaction_type,year_month,year,month
0,GBP,GB37FAKE3149785039,3044.0,304400,2013-02-01 09:00:00,鹿児島県豊島区羽折町7丁目24番12号,Japan,Geldmaat ATM,2222,201302,2013,2
1,GBP,GB37FAKE3149785039,3044.0,304400,2013-02-01 09:00:00,鹿児島県豊島区羽折町7丁目24番12号,Japan,Geldmaat ATM,2222,201302,2013,2
2,EUR,NL12FAKE4031529538,4570.0,457000,2013-02-01 09:00:00,Studio 9\r\nDonna passage\r\nMarcusland\r\nZE7...,Great Britain,Geldmaat ATM,2222,201302,2013,2
3,EUR,NL12FAKE4031529538,4570.0,457000,2013-02-01 09:00:00,Studio 9\r\nDonna passage\r\nMarcusland\r\nZE7...,Great Britain,Geldmaat ATM,2222,201302,2013,2
4,EUR,NL12FAKE1845242763,2272.0,227200,2013-02-01 09:00:00,Giovanniweg 5\r\n6649NN\r\nWapserveen,NL,Geldmaat ATM,2222,201302,2013,2

In [22]:
df = df.drop(columns = ["bookg_cdt_dbt_ind","booking_id","card_poi_id",
"cdtr_schme_id","end_to_end_id","ntry_seq_nb","rmt_inf_ustrd1","rmt_inf_ustrd2",
"tx_acct_svcr_ref","tx_tp","ctpty_acct_id_bban","ctpty_acct_id_iban","ctpty_acct_ccy","bookg_dt_tm_gmt","ctpty_adr_line2","ctpty_agt_bic","bal_aftr_bookg","bal_aftr_bookg_nmrc"])

In [26]:
df = df.rename(columns={"acct_ccy":"account_currency ",
               "acct_id":"account_id",
               "bookg_amt":"transformation_amount",
               "bookg_amt_nmrc":"transformation_amount",
               "bookg_dt_tm_cet":"transformation_time",
               "ctpty_adr_line1":"counteryparty_address",
               "ctpty_ctry":"counteryparty_country",
               "ctpty_nm":"counteryparty_name",
               "dtld_tx_tp":"detailed_transaction_type"})

In [28]:
df['year'] = pd.to_datetime(df['transformation_time']).dt.year
df['month'] = pd.to_datetime(df['transformation_time']).dt.month

In [ ]:
df['dtld_tx_tp'].unique()

array([2222, 4121, 5541, 5462, 6630, 6542, 4111, 5542, 5411, 5422, 4131,
       5420, 3333, 4112, 4511, 5912, 7512])

In [ ]:
unique_count = df['ctpty_agt_bic'].unique()
print(unique_count)

[nan 'DdWtHIjese' 'IlleXpAvjE' ... 'uuTUjHfesg' 'ylwoYHRDcQ' 'PboKCsZMez']

In [ ]:
print(df['acct_ccy'].unique())

['GBP' 'EUR' 'CAD' 'USD' 'J']

In [ ]:
df = df.drop(columns = ["bookg_cdt_dbt_ind","booking_id","card_poi_id",
"cdtr_schme_id","end_to_end_id","ntry_seq_nb","rmt_inf_ustrd1","rmt_inf_ustrd2",
"tx_acct_svcr_ref","tx_tp","ctpty_acct_id_bban","ctpty_acct_id_iban","ctpty_acct_ccy","bookg_dt_tm_gmt","ctpty_adr_line2","ctpty_agt_bic","bal_aftr_bookg","bal_aftr_bookg_nmrc",""])

In [ ]:
# exchange_rates

exchange_rates = {'GBP': 0.82, 'EUR': 1.0, 'CAD': 1.47, 'USD': 1.12, 'J': 120.0}

In [ ]:

# df['euro_bal_aftr_bookg'] = df.apply(lambda row: row['bal_aftr_bookg'] / exchange_rates[row['acct_ccy']], axis=1)
df['euro_bookg_amt'] = df.apply(lambda row: row['bookg_amt'] / exchange_rates[row['acct_ccy']], axis=1)

In [ ]:
# df['euro_bal_aftr_bookg_nmrc']=df['euro_bal_aftr_bookg'] * 100
df['euro_bookg_amt_nmrc']=df['euro_bookg_amt'] * 100

In [ ]:
df.isnull().sum()

acct_ccy                         0
acct_id                          0
bal_aftr_bookg                   0
bal_aftr_bookg_nmrc              0
bookg_amt                        0
bookg_amt_nmrc                   0
bookg_dt_tm_cet                  0
ctpty_adr_line1                  0
ctpty_adr_line2             148833
ctpty_agt_bic                17055
ctpty_ctry                       0
ctpty_nm                         0
dtld_tx_tp                       0
year_month                       0
euro_bal_aftr_bookg              0
euro_bookg_amt                   0
euro_bal_aftr_bookg_nmrc         0
euro_bookg_amt_nmrc              0
dtype: int64

In [ ]:
df.head()

  acct_ccy             acct_id  ...  euro_bal_aftr_bookg_nmrc  euro_bookg_amt_nmrc
0      GBP  GB37FAKE3149785039  ...              3.950000e+05        371219.512195
1      GBP  GB37FAKE3149785039  ...              7.662195e+05        371219.512195
2      EUR  NL12FAKE4031529538  ...              6.279000e+05        457000.000000
3      EUR  NL12FAKE4031529538  ...              1.084900e+06        457000.000000
4      EUR  NL12FAKE1845242763  ...              1.128000e+06        227200.000000

[5 rows x 18 columns]

In [ ]:
columnsc = ['euro_bal_aftr_bookg', 'euro_bookg_amt', 'euro_bal_aftr_bookg_nmrc', 'euro_bookg_amt_nmrc']
df[columnsc ] = df[columnsc ].applymap('{:.2f}'.format)

In [ ]:
df.tail(2)

       acct_ccy  ... euro_bookg_amt_nmrc
148831      EUR  ...             4439.00
148832      USD  ...              494.64

[2 rows x 18 columns]

In [ ]:
df['ctpty_adr_line2'].isnull().sum()

148833

In [ ]:
df = df.drop(columns = ['acct_ccy','bal_aftr_bookg','bal_aftr_bookg_nmrc'

In [ ]:
unique_count = df['dtld_tx_tp'].nunique()
print(unique_count)

17